@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0a09;
  --foreground: #fafaf9;
  --card: #1c1917;
  --muted: #78716c;
  --accent: #58ab92;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
